{% extends 'base.html' %}

{% block content %}
<h1>{{ category|title }} Articles</h1>
<div class="article-list">
    {% for article in articles %}
        <div class="article-card">
            {% if article.image %}
            <div class="article-image">
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
            </div>
            {% endif %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.short_content }}</p>
            <a href="{% url 'article_detail' article.id %}" class="read-more">Read More</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
