{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="articles/static/images/logo.jpg" />
    <title>{% block title %}Chronicles{% endblock %}</title>

    <!-- Link to CSS file -->
   
    <link rel="stylesheet" type="text/css" href="{% static 'articles/styles.css' %}">

    <!-- Add any additional styles or scripts here -->
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo"><img src="static/images/chronicles.jpg" alt="Chronicles"></div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'submit_article' %}">Submit Article</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="#">{{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Chronicles. All rights reserved.</p>
    </footer>

    <!-- Link to JavaScript files -->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>

</html>